@page
@model IndexModel
@{
    ViewData["Title"] = "Table Monitor";
}

<h1>Table Monitor</h1>
<table border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>price</th>
            <th>url</th>
            <th>rowid</th>
            <th>insertdatetime</th>
            <th>img</th>
            <!-- Add more table headers based on your table schema -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>@item.id</td>
                <td>$@item.price</td>
                <td>@item.url</td>
                <td>@item.rowid</td>
                <td>@item.insertdatetime</td>
                <td><img src="@item.img"></td>
                <!-- Add more table cells based on your table schema -->
            </tr>
        }
    </tbody>
</table>